
<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container-fluid page">
            <div class="pag p-5">Admin Homepage</div>
        </div>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let restaurant of approvedRestaurantList">
                        <td>{{restaurant.restaurantId}}</td>
                        <td>{{restaurant.restaurantName}}</td>
                        <td><button (click)="disableRestaurant(restaurant.restaurantId? restaurant.restaurantId:'')">Disable</button></td>
                        <td><button (click)="goToFeedback(restaurant.restaurantId)">Feedbacks</button></td>
        
                    </tr>
                </tbody>
            </table>
        </div>
        
    </mat-drawer-content>
</mat-drawer-container>
