<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Foodie App</a>
    <div class="collapse navbar-collapse  d-flex justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home </a>
        <a class="nav-item nav-link" href="#">Requests received</a>
        <a class="nav-item nav-link" href="#">Placed orders status</a>
        <a class="nav-item nav-link" href="#">Logout</a>
      </div>
    </div>
  </nav> -->

  <mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <div>
            
                    <button>
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                    </button>
    
        </div>

    </mat-toolbar-row>
</mat-toolbar>