<nav class="navbar">
    <!-- Navbar content -->
    <div class="container-fluid">

        <a class="navbar-brand">FoodieApp</a>
  
        <form class="d-flex">
          <button class="btn btn-outline-success me-md-3 " (click)="goToAddRestaurant()" >Add restaurant</button>
          
          <button class="btn btn-outline-success me-md-3 "  (click)="goTohome()" >Home</button>
  
          <button class="btn btn-outline-success me-md-3 " (click)="goToorders()" >Orders</button>
  
          <button class="btn btn-outline-success me-md-3 " (click)="goTologin()" >Logout</button>
  
        </form>
  
      </div>
  </nav>
